<div class="row">
   <% if pay.payment_paid %>
      <p class="text-center"><i class="fi-check size-36"></i> Paid</p>
   <% else %>
      <div class="large-4 columns">
         <%= link_to edit_payment_path(pay) do %>
            <i class="fi-page-edit size-36"></i>
         <% end %>
      </div>
      <div class="large-3 columns">      
         <%= link_to paid_payment_path(pay), method: :put do %>
            <i class="fi-dollar-bill size-36"></i>
         <% end %>
      </div>
      <div class="large-4 columns">
         <%= link_to payment_path(pay), method: :delete do %>
            <i class="fi-x size-36"></i>
         <% end %>
      </div>
   <% end %>
</div>
<h5 class="text-center"><i class="fi-calendar size-24"></i> <%= pay.due_date%></h5>
<h5 class="subheader text-center"><%= pay.account.payee.name%></h5>
<h6 class="text-center"><%= pay.account.name%></h6>
<h6 class="text-center"><%= number_to_currency(pay.amt)%></h6>
<% if pay.reminder %>
   <p class="text-center"><i class="fi-flag"></i> <%= pay.reminder%></p>
<% end %>
